body {
  text-align: center;
  margin: 0;
  padding: 0;
}

A:link {
	color: #2153AA; text-decoration: none;
}
A:visited {
	color: #2153AA; text-decoration: none;
}
A:active {
	color: #2153AA; text-decoration: none;
}
A:hover {
	color: #FF0000; text-decoration: underline;
}

#page_wrapper {
  margin-left: auto; 
  margin-right: auto;
  width: 100%;
  text-align: left;
  background: #FFFFFF;
}

#header_wrapper {
  background: /*#ACB6C8;*/ /*#A5B0C5;*/ #C8C8C8;
  margin:0px; padding:0px;
}

#header { 
  height: 50px;
  padding: 5px 0px;
  margin:0px;
}

#header h1 {
  margin:0px;
  font-family: verdana, arial, sans-serif;
  font-size: 28px;
  color:#113E98;
  letter-spacing: -1px;
}

#sitename {
  margin:0px;
  font-family: verdana, arial, sans-serif;
  font-size: 28px;
  color:#113E98;
  letter-spacing: -1px;
}

#header h2 {
  margin:0px;
  font-family: verdana, arial, sans-serif;
  font-size: 14px;
  color:#666666;
  letter-spacing: 1px;
}


#left_side {
  margin-top: 5px;
  float: left;
  width: 160px;
  background-color:#e2e9f7;
  list-style: none;
  display:block;
  
  /*font-family: verdana, arial, sans-serif;*/
  /*font-size: 12px;*/
  /*color: #759ADB;*/


}

#right_side {
  margin-top: 5px;
  float: right;
  width: 160px;
  background-color: #fff;
  list-style: none;
  display:block;
  
  /*font-family: verdana, arial, sans-serif;*/
  /*font-size: 12px;*/
  /*color: #759ADB;*/
}

#content {
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 180px;
  margin-right: 180px;
  font-family: verdana, arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #333333;
}

#footer {
  height: 30px;
  background-color: #E6E6E6;
  clear: both;
  text-align: center;
  padding-top:12px;
  color: #113E98;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  line-height: 18px;
  border-top: 1px dotted #9C9C9C;
}

#footer A:link {
	color: #113E98;
	text-decoration: underline;
}
#footer A:visited {
	color: #113E98;
	text-decoration: underline;
}
#footer A:active {
	color: #113E98;
	text-decoration: underline;
}
#footer A:hover {
	color: #113E98;
}


/*
** Menu styles
*/
#left_side ul.menu {
  list-style: none;
  border: none;
  text-align:left;
  margin-left: 0;
  padding-left: 0;


}
#left_side ul.menu li {
  border-top:1px solid #fff;
  list-style: none;
  margin-left: 0;
  padding-left: .5em;
}

#left_side li.expanded {
  padding: 0em 0em 0 0;
  margin: 0;
  color: #759ADB;
  list-style: none;
}
#left_side li.collapsed {
  padding: 0em 0em 0 0;
  margin: 0;
  color: #759ADB;
  list-style: none;
}
#left_side li.leaf {
  padding: 0em 0em 0 0;
  margin: 0;
  color: #759ADB;
  list-style: none;
}


#right_side ul.menu {
  list-style: none;
  text-align:left;
  margin-left: 0;
  padding-left: 0;

}
#right_side ul.menu li {
  list-style: none;
  border-bottom: 1px dotted; 
  margin-left: 0;
  padding-left: 0.5em;
}

#right_side li.expanded {
  padding: 0em 0em 0 0;
  margin: 0;
  color: #759ADB;
  list-style: none;
}
#right_side li.collapsed {
  padding: 0em 0em 0 0;
  margin: 0;
  color: #759ADB;
  list-style: none;
}
#right_side li.leaf {
  padding: 0em 0em 0 0;
  margin: 0;
  color: #759ADB;
   list-style: none;
}


#left_side p {
  margin:0px;margin-top:0px;margin-bottom:0px;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  line-height: 12px;
  color: #333333;
}

#right_side p {
  margin:0px;margin-top:0px;margin-bottom:0px;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  line-height: 12px;
  color: #333333;
}

#left_side a, #right_side a {
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  line-height: 12px;
}

#left_side h3 { 
  margin:0px;
  padding:4px 4px 4px 7px;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 11px;
  color: #FFFFFF;
  background-color: #113e98;
  text-transform:uppercase;
  border-top:10px solid #fff;

}

#right_side h3 {
  /*margin:0px;*/
  margin: 15px 0px 5px 0px;
  padding:4px 4px 4px 7px;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 11px;
  color: #113e98; 
  background-color: #e2e9f7;
  text-transform:uppercase;
  border-top:3px solid #113e98;
  border-bottom: 1px dotted; 


}
#right_side img {
  margin-top:10px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#left_side h4, #right_side h4 {
  margin-top:0px;margin-bottom:0px;margin-left:10px;
  font-family: verdana, arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  color: #2153AA;
}

#content p {
  margin-top:15px; margin-bottom: 15px;
  font-family: verdana, arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #333333;
}

#content h3 {
  margin-top:5px; margin-bottom: 10px;
  font-family: verdana, arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  color: #2153AA;
}

#content h4 {
  margin-top:0px;margin-bottom:0px;
  font-family: verdana, arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 12px;
  color: #2153AA;
}

#navlist
{
  margin-top:1px;
  margin-bottom:0px;
  text-align:center;
  padding: 5px 0;
  margin-left: 0;
  border-bottom: 1px dotted #9C9C9C;
  font: bold 11px sans-serif;
  background: #E6E6E6;
  text-transform:uppercase;

}

#navlist li
{
  list-style: none;
  margin: 0;
  display: inline;
  border-right: 1px #113E98;

}

#navlist li a
{
  color: #F1F6FE;
  padding: 5px 10px;
  margin-left: 3px;
  border-bottom: none;
  text-decoration: none;
}

#navlist li a:link { color: #333333; } 
#navlist li a:visited { color: #333333; }

#navlist li a:hover
{
  color: #113E98;
}

#navlist li a#current
{
  color: #000;
}

.float_left {
  float: left;
  margin-right: 10px;
}

.float_right {
  float: right;
  margin-left: 10px;
}

.featurebox_center {
  background-color: #fffff6;
  margin:0px;
  padding:10px;
  border: 1px solid #DFE8F7;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  line-height: 18px;
  color: #333333;
}

.featurebox_side {
  background-color: #fffff6;
  margin:0px;margin-left:10px;margin-right:10px;margin-bottom:15px;
  padding:10px;
  border: 1px solid #DFE8F7;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  line-height: 18px;
  color: #333333;
}

div.content br.clear {
  clear:none;
}

.node .links {
  clear: none;
}

.node-form .standard {
  clear: none;
  width: 98%;
}

.centeredImage {
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
}

/* event calendar fixes for IE */
/* fix strange overflow problem with event calendar in IE */
/* IE-only; fix min-height on event calendars (should migrate this to event calendar event.css)*/
/* for Internet Explorer */
/*\*/
.event-calendar table, .event-calendar .list-view {
  width: 98%;
}
.event-empty {
  height: 6em;
}
/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/
.title, .title a {
  font-weight: bold;
  font-size: 1.3em;
  margin: 0 auto;  /* decrease default margins for h<x>.title */
}
.submitted {
  color: #999;
  font-size: 0.8em;
}
/*
#header #search {
	margin: 17px 0 6px 0;
	float: right;
	
	
	position: absolute;
  right: 0.2em;
  top: 0;
}
*/
#header #search {
	position: absolute;
   right: 0.2em;
   top: 0;
	/*font-size: 2em;*/
}


#search .form-text, #search .form-submit {
  border: 1px solid #369;
  font-size: 0.8em;
  height: 1.4em;
  vertical-align: middle;
}
#search .form-text {
  width: 8em;
  padding: 0 0.8em;
}


/*
.search-form .form-submit {
  margin: 0;
}
#search-theme-form {
  background-color: transparent;
  position: absolute;
  right: 0.2em;
  top: 0;
}
#search-theme-form h2 {
  margin: 0;
  padding: 0;
  float: left;
  font: 1em/1.5em Verdana, sans-serif;
}
#search-theme-form input {
  float: left;
  margin: 0 0 0 0.5em;
  padding: 0;
}
*/